<!-- Unfinished Tasks Modal -->

<div class="modal fade" id="unfinishedTaskModal" tabindex="-1" aria-labelledby="unfinishedTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unfinishedTaskModalLabel"><%= task.taskName %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 border border-dark p-4">
                    <p><%= task.description %></p>
                </div>
                <form class="needs-validation" novalidate action="/task" method="POST">
                    <div class="mb-3 d-flex justify-content-start">
                        <input type="checkbox" class="form-check-input" id="finished">
                        <label class="form-check-label ps-2" for="finished">Mark as Done</label>
                    </div>

                    <div class="mb-3 d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary rounded-pill">Save Changes</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>