<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>

    <body>
        <%- include('partials/navbar', {view: 'homepage'}); %>

        <div class="position-absolute top-50 start-50 translate-middle">
            <ul id="contact">
                <li class="fs-3 pb-5">
                    Github: <a href="https://github.com/hkim1016?tab=repositories">hkim1016</a>
                </li>
                <li class="fs-3">
                    Email: <a href="mailto:hankim0827@gmail.com">hankim0827@gmail.com</a>
                </li>
            </ul>
        </div>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

        <script src="/scripts/screen.js"></script>

    </body>
</html>