<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>

        <title>A Manager for Your To-Do's</title>
    </head>

    <body>
        
        <%- include('partials/navbar', {view: 'homepage'}); %>

        <!-- <main> -->
            <div class="container-sm position-absolute top-50 start-50 translate-middle pt-5 pb-5 border border-dark border-3" style="border-radius:1cm;max-height:100%;" id="mainPage">
                <div class="row">
                    <div class="col-sm-6 text-wrap d-flex justify-content-center align-self-center" id="desc">
                        <!-- <div class=""> -->
                            <h1 class="fw-light">A MANAGER TO KEEP<br>TRACK OF YOUR <span class="fw-bold" style="color:#39A2DB;">TODO'S</span></h1>
                        <!-- </div> -->
                    </div>
                    <div class="col-sm-5" id="image">
                        <img src="/img/todo-list.svg" id="example">
                    </div>
                </div>
            </div>
        <!-- </main> -->

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

        <script src="/scripts/forms.js"></script>

    </body>
</html>