@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.navbar {
    background: #39A2DB;
}

.nav-item {
    padding-left: 2em;
}

.nav-link {
    color: black;
}

.btn:hover {
    background-color: #64c3f7
}

#contact li {
    list-style-type: none;
}

#about, #contact li {
    font-family: ABeeZee, sans-serif;
}